h1 {
    display:none;
    justify-content: center;
}



.hide {
    display:none;
}

#startscreen {
    display:flex;
    justify-content: center;
}

#questionscreen {
    display:flex;
    justify-content: center;
}

#endscreen {
    display:flex;
    justify-content: center;
}

